{% extends 'base.html' %}

{% block content %}
<div class="invoice-container" >
    <div style="text-align: right; padding: 1rem;">
        <h3>Plantation</h3>
        <p>12 ribon raod, Balitoville</p>
        <p>Tel: (031) 251 2154</p>
    </div>

    <h1 style="font-size: 52px; color: #000;">Invoice</h1>
    <p style="display: flex; align-items: center; justify-content: space-between; padding: .25rem 0;"><span><b>Invoice number:</b> {{ order.order_number }}</span> <span><b>Date: </b>{{ order.date }}</span></p>

    <br>
    <div style="display: flex; max-width: 256px; justify-content: space-between; flex-direction: column;">
        <p>Bill to:</p>
        <br>
        <div>
            <p><b>{{ order.user.get_name }}</b></p>
            <p>{{ order.address.get_street_line }},</p>
            <p>{{ order.address.town }}</p>
            <p>{{ order.address.zip_code }}</p>
            <p>{{ order.address.country }}</p>
        </div>
    </div>

    <br>
    <br>
    <div style="display: flex; max-width: 256px; justify-content: space-between; flex-direction: column;">
        <p>Ship to:</p>
        <br>
        <div>
            <p>{{ order.address.get_street }},</p>
            <p>{{ order.address.town }}</p>
            <p>{{ order.address.zip_code }}</p>
            <p>{{ order.address.country }}</p>
        </div>
    </div>
    <br><br><br>
    <table style="width: 100%; border-collapse: collapse; padding-bottom: .5rem;">
        <tr style="border-bottom: 1px solid black;">
            <th>Item</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>

        {% for item in order.items.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>R{{ item.price }}</td>
                <td>{{ item.get_total_price }}</td>
            </tr>
        {% endfor %}

        <tr style="color: #000; font-weight: 500; font-size: 1rem; padding-top: 1.5rem; border-top: 1px solid transparent;">
            <td></td>
            <td></td>
            <td></td>
            <td>Tax Rate (15.0%)</td>
            <td>{{ order.get_total_tax }}</td>
        </tr>
        <tr style="color: #000; font-weight: 500; font-size: 1rem; padding-top: 1.5rem; border-top: 1px solid transparent;">
            <td></td>
            <td></td>
            <td></td>
            <td>Delivery </td>
            <td>R250</td>
        </tr>

        <tr style="color: #000; font-weight: 700; font-size: 18px; padding-top: 2rem; border-top: 1px solid transparent;">
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td>R {{ order.get_total }}</td>
        </tr>

    </table>

 </div>

{% endblock content %}