{% extends "base.html" %}

{% block content %}
<div class="plantation-items_wrapper">
    <h2 class="plantation-items_heading">
        Recent orders
    </h2>
    <br>

    <div class="plantation-table">
        <table>
            <tr>
                <th>Item No.</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Order by</th>
                <th>Paid?</th>
            </tr>

            {% if user.is_admin or user.is_superuser %}
                {% for order in orders %}
                    {% if order.paid or order.payment_option == "C" %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {% if order.paid and order.has_driver %}
                                    <p>Order is processed</p>
                                    {% else %}
                                    <a href="{% url 'pay-for-order' order.pk %}" style="color: blue; text-decoration: underline;">Process order</a>
                                {% endif %}
                            </td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.user.get_name }}</td>
                            <td>
                                {% if order.paid %} Yes {% else %} No {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}

          

            {% if user.is_general %}
                {% for order in user.orders.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {% if order.paid %}
                                <a href="{% url 'pay-for-order' order.pk %}">View order</a>
                                {% else %}
                                <a href="{% url 'pay-for-order' order.pk %}">Process order</a>
                            {% endif %}
                        </td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.user.get_name }}</td>
                        <td>
                            {% if order.paid %} Yes {% else %} No{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}       

            

        </table>
    </div>
</div>
{% endblock %}