{% extends "base.html" %}

{% block content %}    
    <h2 class="plantation-service_heading">Remove Product</h2>
    <br><br>
    <h4 style="color: red;">Are you sure you want to remove <b style="color: black; text-decoration: underline;">{{ product.name }}</b> from your list?</h4>
    <br>
    <br>
    <form action="." method="post">
        {% csrf_token %}
        <a href="{% url 'product-list' %}" class="btn btn-secondary">No take me back</a>
        <button type="submit" class="btn btn-outline-danger">Yes remove</button>
    </form>
{% endblock %}