{% extends "base.html" %}

{% block content %}
<div class="plantation-items_wrapper">
    <h2 class="plantation-items_heading">
        Rentend items
    </h2>

    {% if user.is_staff or user.is_superuser %}
        <p>Unread item(s): ({{ count_unread }} / {{total}}) - not verified: ({{ count_not_accepted }} / {{ total }})</p>
    {% endif %}

    <div class="plantation-table">
        <table>
            <tr>
                <th>Item No.</th>
                <th>Description</th>
                {% if user.is_admin or user.is_superuser %}
                    <th>Rented by</th>
                {% endif %}
                <th>Rented from</th>
                <th>Rented to</th>
                {% if user.is_admin or user.is_superuser %}
                    <th>Returned?</th>
                {% endif %}
                <th>Status</th>
            </tr>

            {% if user.is_general %}
            
                {% for rental in user.rentals.all %}
                    {% if user.is_admin or user.is_superuser %}
                    <tr>
                        <td class="{% if not rental.viewed %}unread{% endif %}">{{ forloop.counter }} <a href="{% url 'rental-detail' rental.pk %}" style="color: blue; text-decoration: underline;">edit</a></td>
                        <td class="{% if not rental.viewed %}unread{% endif %}">{{ rental.product.name }}</td>
                        <td class="{% if not rental.viewed %}unread{% endif %}">{{ rental.user.get_name }}</td>
                        <td class="{% if not rental.viewed %}unread{% endif %}">{{ rental.date_from }}</td>
                        <td class="{% if not rental.viewed %}unread{% endif %}">{{ rental.date_to }}</td>
                        <td class="{% if not rental.viewed %}unread{% endif %}"> {% if rental.returned %} Yes {% else %} No {% endif %}</td>
                        <td class="{% if not rental.viewed %}unread{% endif %}">{{ rental.status }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>{{ forloop.counter }} <a href="{% url 'rental-detail' rental.pk %}" style="color: blue; text-decoration: underline;">edit</a></td>
                        <td>{{ rental.product.name }}</td>
                        <td>{{ rental.date_from }}</td>
                        <td>{{ rental.date_to }}</td>
                        <td>{{ rental.status }}</td>
                    </tr>
                    {% endif %}             
                {% endfor %}

            {% endif %}

            {% if user.is_admin or user.is_superuser %}
                {% if rentals %}
                    {% for rental in rentals %}
                        <tr>
                            <td class="{% if not rental.viewed %}unread{% endif %}">{{ forloop.counter }} <a href="{% url 'rental-detail' rental.pk %}" style="color: blue; text-decoration: underline;">edit</a></td>
                            <td class="{% if not rental.viewed %}unread{% endif %}">{{ rental.product.name }}</td>
                            <td class="{% if not rental.viewed %}unread{% endif %}">{{ rental.user.get_name }}</td>
                            <td class="{% if not rental.viewed %}unread{% endif %}">{{ rental.date_from }}</td>
                            <td class="{% if not rental.viewed %}unread{% endif %}">{{ rental.date_to }}</td>
                            <td class="{% if not rental.viewed %}unread{% endif %}"> {% if rental.returned %} Yes {% else %} No {% endif %}</td>
                            <td class="{% if not rental.viewed %}unread{% endif %}">{{ rental.status }}</td>
                        </tr>            
                    {% endfor %}
                    
                {% else %}
                    <p>We do not have any rented item</p>
                    <br>
                {% endif %}

            {% endif %}
        </table>


       
    </div>
</div>
{% endblock %}